@import '../../global.scss';

.menu {
  z-index: 8;
  border-radius: 20% 0% 0% 20%;
  width: 220px;
  height: 320px;
  background-color: black;
  position: absolute;
  top: 0;
  right: -400px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease;

  &.active {
    right: 0;
    box-shadow: 0 0 15px #bfe5ff;
  }

  ul {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    font-size: 25px;
    font-weight: 300;
    color: white;
    width: 60%;
  }

  li {
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    a {
      font-size: inherit;
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      font-weight: 500;
    }
  }
}
